.button{
  box-shadow: 0 10px 20px rgba(255, 219, 89, 0.25);
  border-radius: 50px;
  width: 320px;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
}

.yellow {
  background-color: #FFDB59;
  box-shadow: 0 10px 20px rgba(255, 219, 89, 0.25);
  color: #181A20;

  &:hover {
    background-color: #FFE06E;
  }

  &:active {
    background-color: #FFD22E;
  }

}

.purple {
  background-color: #7F86E8;
  box-shadow: 0 10px 20px rgba(127, 134, 232, 0.25);
  color: #fff;

  &:hover {
    background-color: #8F95EB;
  }

  &:active {
    background-color: #5962E1;
  }

}





