.title{
  font-size: 32px;
  margin-bottom: 50px;
  align-items: center;
  font-weight: 700;

  .login{
    color: #fff;
    font-size: 52px;
    text-decoration: none;
    margin-right: 50px;
    margin-left: -50px;
  }

  .signUp{
    text-decoration: none;
    color: #7F86E8;
  }
}